<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="dev" class="org.example.Dev" scope="prototype" >  </bean>-->

    <bean id="dev" class="org.example.Dev" autowire="byName">
        <property name="val" value="25"></property>
        <property name="comp" ref="comp1"></property>

<!--        <constructor-arg type="org.example.Laptop" ref="laptop" />-->
<!--        <constructor-arg type="int" value="21" />-->

<!--        <constructor-arg index="0" ref="laptop" />-->
<!--        <constructor-arg index="1" value="21" />-->

<!--        <constructor-arg name="laptop" ref="laptop" />-->
<!--        <constructor-arg name="age" value="21" />-->

    </bean>

    <bean id="comp1" class="org.example.Laptop">
    </bean>
    <bean id="comp" class="org.example.Desktop">
    </bean>
</beans>